/* RESET CSS */
body,
h1,
h2,
h3,
p,
ul,
li,
a {
  margin: 0px;
  padding: 0px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}
