/* Estilos gerais */
html {
  scroll-behavior: smooth;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

h1 {
  font-size: 2.5rem;
  margin: 0 10px;
}

/* Header Menu */
.menu-bg {
  background-color: #fff;
}

.menu {
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-logo a {
  font-size: 2rem;
  font-weight: bold;
  margin-left: 10px;
}

.menu-nav a {
  font-size: 1.25em;
  display: block;
  padding: 10px;
  transition: 0.4s;
}

.menu-nav a:hover {
  background-color: #f6f6f6;
}

/* Menu hamburguer */
#btn-mobile {
  display: none;
}

@media (max-width: 1000px) {
  #btn-mobile {
    display: block;
  }

  .menu-nav ul {
    display: block;
    position: absolute;
    width: 100%;
    top: 68px;
    right: 0px;
    background-color: #fff;
    z-index: 10;
    transition: 0.5s;
    height: 0;
    visibility: hidden;
    overflow: hidden;
  }

  #nav-list.active {
    height: fit-content;
    visibility: visible;
    overflow: auto;
  }

  .menu-nav a {
    border-bottom: 1px solid #f7f7f7;
  }

  #btn-mobile {
    display: flex;
    padding: 0.5rem 1rem;
    font-size: 1rem;
  }

  #hamburguer {
    border-top: 2px solid #000;
    width: 20px;
  }

  #hamburguer::after,
  #hamburguer::before {
    content: "";
    display: block;
    width: 20px;
    height: 2px;
    background: currentColor;
    margin-top: 5px;
  }
}

/* Sobre */
.sobre-bg {
  background-color: #c6f50f;
}

.sobre {
  padding: 20px 0;
}

.sobre-info {
  margin: 0 10px;
}

.sobre-info h1 {
  font-size: 2.5rem;
  margin: 0 0 5px;
}

.sobre-info p {
  font-size: 1.25rem;
  line-height: 1.4;
  margin-bottom: 1em;
  color: #606060;
}

/* Combos */
.combos {
  padding: 20px 0;
}

.combos p {
  font-weight: bold;
  margin: 0 10px 20px;
}

.btn-combo {
  position: relative;
}

.btn-combo::before {
  content: "";
  position: absolute;
  left: -0.1px;
  right: -0.1px;
  bottom: 0;
  height: 80%;
  transform: scaleY(0.3);
  transition: transform 0.6s cubic-bezier(0.53, 0.21, 0, 1);
  transform-origin: bottom;
  background-color: #c6f50f;
  opacity: 0.4;
}

.btn-combo:hover::before {
  transform: scaleY(1);
}

.combos-container {
  display: grid;
  gap: 10px;
}

.combos-item {
  margin: 0 10px;
  position: relative;
}

.combos-item h2 {
  font-size: 2.5rem;
  color: #fff;
  padding: 15px;
  position: absolute;
  bottom: 1px;
  z-index: 1;
}

.combos-item::after {
  display: block;
  position: relative;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
  margin-top: -150px;
  height: 150px;
  width: 100%;
  content: "";
}

.red {
  border-bottom: 8px solid #c6f50f;
  border-image: linear-gradient(820deg, #d54aff, #ff0000) 1;
}

.orange {
  border-bottom: 8px solid #c6f50f;
  border-image: linear-gradient(70deg, #ff0000, #ffd500) 1;
}

.purple {
  border-bottom: 8px solid #c6f50f;
  border-image: linear-gradient(110deg, #6200ff, #e32be3) 1;
}

/* Assinaturas */
.assinaturas {
  background-color: #f7f7f7;
  padding: 20px 0;
}

.assinatura-valor {
  background-color: #fff;
  padding: 10px;
  margin: 20px 10px;
  border: 4px solid #c6f50f;
}

.assinatura-valor h2 {
  font-size: 2.5rem;
  text-align: center;
}

.assinatura-valor h2::after {
  content: "";
  position: absolute;
  width: 40px;
  margin: 50px 0 0 -65px;
  border-top: 3px solid #a4a4a4;
}

.assinatura-valor span {
  margin: 20px auto;
  display: block;
  text-align: center;
  font-size: 2.5rem;
}

.assinatura-valor ul {
  margin: 0 30px;
  font-size: 1.15rem;
  color: #7c7c7c;
}

.assinatura-valor li {
  margin-bottom: 10px;
}

.assinatura-valor button,
.contato-form button {
  margin: 20px auto 10px;
  font-size: 2rem;
  display: block;
  border-radius: 5px;
  padding: 10px 60px;
  background: #c6f50f;
  transition: 0.2s;
}

.assinatura-valor button:hover,
.contato-form button:hover {
  transform: scale(1.05);
}

/* Contato */
.contato {
  padding: 20px 0;
}

.contato span {
  font-size: 2rem;
  margin: 0 10px;
}

.contato-form {
  display: grid;
  justify-content: center;
  margin-top: 20px;
}

.contato-form input,
textarea {
  font-size: 1rem;
  border: 3px solid #c6f50f;
  padding: 10px;
  margin: 5px;
  outline: none;
  resize: none;
}

/* Footer */
.footer {
  display: grid;
  align-items: center;
  justify-content: center;
  background: #c6f50f;
  height: 60px;
}

.footer p {
  text-align: center;
  font-size: 1.25rem;
}

/* Responsividade */
/* Tablets */
@media (min-width: 768px) {
  /* Menu */
  .menu {
    grid-template-columns: 10fr 1fr;
  }

  .menu-logo a {
    font-size: 2rem;
  }

  .menu-nav a {
    font-size: 1.2rem;
  }

  .menu-nav ul {
    top: 68px;
  }

  /* Sobre */
  .sobre-info p {
    margin-right: 20px;
  }

  /* Combos */
  .combos p {
    font-size: 1.25rem;
  }

  .combos-item h2 {
    font-size: 3rem;
  }

  .combos-item {
    margin: 0;
  }

  .combos-container {
    margin: 0 10px;
  }

  .combos-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  /* Assinaturas */
  .assinaturas-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .assinatura-valor {
    display: grid;
  }

  /* Contato */
  .contato-form input,
  textarea {
    font-size: 1.5rem;
  }

  /* Footer */
  .footer p {
    font-size: 1.5rem;
  }
}

/* Telas maiores */
@media (min-width: 1000px) {
  /* Menu */
  .menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .menu-nav a:hover {
    background-color: #c6f50f;
    border-radius: 5px;
  }

  .menu-nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem;
  }

  /* Assinaturas */
  .assinaturas-container {
    /* grid-template-columns: 50vh 50vh; */
  }
}
